@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif;
}

.sign-in {
    background-image: url('../img/background.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.sign-in-block {
    padding-top: 250px;
}
.jumbotron {
    border-radius: 16px;
    background-color: rgb(232, 235, 238, 0.8);
}
form {
    border-radius: 16px;
    background-color: rgb(232, 235, 238, 0.8);
    padding: 36px;
}
.navbar-light .navbar-brand {
    color: red;
}
main {
    margin-top: 100px;
}
.faq {
    margin-bottom: 300px;
}
